@charset "UTF-8";
/********* IMPORTING ************/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap");
/**** VARIABLE DEFINITION *****/
/*********** TYPOGRAPHY ***************/
/********* TYPOGRAPHY SIZES *************/
.small {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.medium {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: #fff2f2;
}

.large {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: #ffffff;
}

body {
  font-family: "Outfit", sans-serif;
}

header {
  background-color: #2e075d;
  font-family: "Outfit", sans-serif;
}

.container-fluid {
  max-width: 100%;
  background-color: #2e075d;
}

.nav-link-custom {
  color: #ffffff;
}

.navbar-nav .nav-item {
  margin: 0 70px;
}

.nav-item.nav-link {
  text-decoration: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin: 0 auto; /* Centrar horizontalmente */
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1616px;
}

/*************** container que disapear *****************/
.background-image {
  background-image: url("images/sleep-naturally.jpeg"); /* Cambia 'ruta-de-tu-imagen.jpg' por la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: bottom center;
  padding-top: 50%;
  position: relative;
}

.overlay-container {
  background-color: rgba(66, 31, 129, 0.5); /* Cambia los valores RGB y el valor alfa según desees */
  color: #fff; /* Color del texto en el contenido superpuesto */
  padding: 60px;
  margin-top: 779px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ribbon-section {
  margin-top: 50px;
}
.ribbon-section .row {
  display: flex; /* Mostrar las columnas en una fila flexible */
  flex-wrap: wrap; /* Envolver las columnas si no caben en una sola fila */
  justify-content: center; /* Centrar las columnas horizontalmente */
  align-items: stretch;
}
.ribbon-section .row .ribbon-image {
  flex: 1; /* Cambio: permite que las columnas ocupen el espacio disponible */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #885dcf;
  margin: 10px;
  max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
}
.ribbon-section .row .ribbon-image img {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

/*********************Footer*************************/
/*********Palabras en el top del footer******************/
.custom-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px; /* Espacio entre elementos */
}

.custom-footer-links a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  margin-top: 30px;
}

.custom-footer-links a:hover {
  color: #ffcc00; /* Cambia a tu color deseado en hover */
}

/*********Social Icons******************/
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px; /* Espacio entre íconos */
  margin-top: 31px;
}

.social-icon {
  max-width: 40px; /* Ajusta el valor según tu preferencia */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 5px;
  width: 30px;
}

.custom-footer {
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
}

footer {
  background-color: #b784fc;
}

/*# sourceMappingURL=styles.css.map */
