/********* IMPORTING ************/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');

/**** Animations *****/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/**** VARIABLE DEFINITION *****/
$color-background: #2e075d;
$primary-color: #421f81;
$secondary-color: #b784fc;
$tertiary-color: #97db29;

/*********** TYPOGRAPHY ***************/
$font-family: 'Outfit', sans-serif;

$font-size-small: 14px;
$font-color-small: #ffffff;

$font-size-medium: 18px;
$font-color-medium: #fff2f2;

$font-size-large: 24px;
$font-color-large: #ffffff;

/********* TYPOGRAPHY SIZES *************/
.small {
  font-family: $font-family;
  font-size: $font-size-small;
  color: $font-color-small;
}

.medium {
  font-family: $font-family;
  font-size: $font-size-medium;
  color: $font-color-medium;
}

.large {
  font-family: $font-family;
  font-size: $font-size-large;
  color: $font-color-large;
}

body {
  font-family: $font-family;
  background-color: $color-background;
}

header {
  background-color: $color-background;
  font-family: $font-family;
  position: sticky;
  top: 0;
  transition: transform 0.3s ease-in-out;
  opacity: 1; 
}
/******Efect on the header*******/


.header.hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header.visible {
  opacity: 1;
  transform: translateY(0);
}

/********************************/

.container-fluid{
  max-width: 100%;
  background-color: $color-background;

}


.nav-link-custom {
  color:$font-color-large;
  font-size: $font-size-large;
  margin: 20px;
  transition: color 0.5s;
}

.navbar-nav .nav-item {
  margin: 0 100px; 
}

.nav-item.nav-link {
  text-decoration: none;
}

.nav-link-custom:hover {
  color: $tertiary-color; 
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin: 0 auto; 
  margin-bottom: -45px;
}

@media (min-width: 1400px){}
.container, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl, 
.container-xxl {
    max-width: 1616px;

  }

/*************** container que disapear *****************/

.background-image {
  background-image: url('images/white-noise.jpg');
  background-size: cover;
  background-position: bottom center;
  position: relative;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .background-image {
    max-width: 100%; /* Ajusta el valor para dispositivos más pequeños */
  }
}

/*************** background About***********************/
.background-image-about {
  background-image: url('images/group.avif');
  position: relative;
  margin-top: -50px;
  margin-bottom: -50px;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
/**************** background Contact********************/

.background-image-contact {
  background-image: url('images/Best.jpg');
  background-size: cover;
  background-position: bottom center;
  padding-top: 10%;
  position: relative;
  max-width: 100%;
}

.overlay-container {
  background-color: rgba(66, 31, 129, 0.5); 
  color: #ffffff;
  padding: 60px;
  margin-top: 779px;
  animation: fadeIn 5s;
  max-width: 1675px;
}

.row-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px); /* Ajusta el valor para controlar la altura vertical */
}


/************************************************************************/

.ribbon-section {
  margin-top: 50px;

  .row {
    display: flex; /* Mostrar las columnas en una fila flexible */
    flex-wrap: wrap; /* Envolver las columnas si no caben en una sola fila */
    justify-content: center; /* Centrar las columnas horizontalmente */
    align-items: stretch;
    margin-bottom: 47px ;
    

    .ribbon-image {
      flex: 1; /* Cambio: permite que las columnas ocupen el espacio disponible */
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #885dcf;
      margin: 10px;
      max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */


        img{
        max-width: 266px;
        max-height: 266px;
        object-fit: contain;
      }
    }
  }
}


/*************** Contact Section *****************/
.contact-section {
  background-color: $primary-color; /* Cambiar el color de fondo */
  color: $font-color-small; /* Cambiar el color del texto */

  .contact-description {
    border-right: 2px solid $secondary-color; /* Agregar un borde lateral de color */
    padding-right: 20px; /* Agregar espacio en el lado derecho */
  }

  .contact-form {
    background-color: rgba(151, 219, 41, 0.5); /* Cambiar el color de fondo del formulario */
    padding: 54px; /* Añadir espacio interno */
    border-radius: 22px; /* Agregar bordes redondeados */
    margin-bottom: 100px;
  }

  .form-label {
    color: $font-color-medium; /* Cambiar el color de las etiquetas del formulario */
  }

  .form-control {
    background-color: $color-background; /* Cambiar el color de fondo de los campos de entrada */
    color: $font-color-small; /* Cambiar el color del texto en los campos de entrada */
    border-color: $secondary-color; /* Cambiar el color del borde de los campos de entrada */
  }

  .btn-primary {
    background-color: $secondary-color; /* Cambiar el color de fondo del botón */
    border-color: $secondary-color; /* Cambiar el color del borde del botón */
    &:hover {
      background-color: darken($secondary-color, 10%); /* Oscurecer el color del botón al pasar el cursor */
      border-color: darken($secondary-color, 10%); /* Oscurecer el color del borde del botón al pasar el cursor */
    }
  }
}


/*********************Footer*************************/
/*********Palabras en el top del footer******************/

.custom-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px; /* Espacio entre elementos */
}

.custom-footer-links a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  margin-top: 30px;
}

.custom-footer-links a:hover {
  color: #ffcc00; /* Cambia a tu color deseado en hover */
}

/*********Social Icons******************/

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px; /* Espacio entre íconos */
  margin-top: 31px;
}

.social-icon {
  max-width: 40px;
  height: auto;
  margin: 5px;
  width: 30px;
}

.custom-footer {
  text-align: center;
  color: white;
  font-family:$font-family; 
}


footer {
  background-color: $secondary-color;
}




/***************Cookies*********************/
.cookie-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cookie-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*--------------Product Styling --------------------*/
.background-image-product {
  background-image: url('images/productback.jpg');
  background-size: cover;
  background-position: bottom center;
  padding-top: 50%;
  position: relative;
  max-width: 100%;
}

.product-carousel {
  padding: 5%;
  margin: 0%;
  background-color: #bda2e0;
}

.carousel-item > img {
  border-radius: 6%;
}

.carousel-control-next .carousel-control-prev {
  margin-right: 90px;
  margin-left: 10px;
}
