/********* IMPORTING ************/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');


/**** VARIABLE DEFINITION *****/
$color-background: #2e075d;
$primary-color: #421f81;
$secondary-color: #b784fc;
$tertiary-color: #97db29;

/*********** TYPOGRAPHY ***************/
$font-family: 'Outfit', sans-serif;

$font-size-small: 14px;
$font-color-small: #ffffff;

$font-size-medium: 18px;
$font-color-medium: #fff2f2;

$font-size-large: 24px;
$font-color-large: #ffffff;

/********* TYPOGRAPHY SIZES *************/
.small {
  font-family: $font-family;
  font-size: $font-size-small;
  color: $font-color-small;
}

.medium {
  font-family: $font-family;
  font-size: $font-size-medium;
  color: $font-color-medium;
}

.large {
  font-family: $font-family;
  font-size: $font-size-large;
  color: $font-color-large;
}

body {
  font-family: $font-family;
}

header {
  background-color: $color-background;
  font-family: $font-family;
}


.container-fluid{
  max-width: 100%;
  background-color: $color-background;
}


.nav-link-custom {
  color:$font-color-large;
  font-size: $font-size-large;
  margin: 20px;
  transition: color 0.5s;
}

.navbar-nav .nav-item {
  margin: 0 100px; 
}

.nav-item.nav-link {
  text-decoration: none;
}

.nav-link-custom:hover {
  color: $tertiary-color; 
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin: 0 auto; 
}

@media (min-width: 1400px){}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1616px;

  }

/*************** container que disapear *****************/

.background-image {
  background-image: url('images/white-noise.jpg'); /* Cambia 'ruta-de-tu-imagen.jpg' por la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: bottom center;
  padding-top: 50%;
  position: relative;
  max-width: 100%;
}

.overlay-container {
  background-color: rgba(66, 31, 129, 0.5); /* Cambia los valores RGB y el valor alfa según desees */
  color: #fff; /* Color del texto en el contenido superpuesto */
  padding: 60px;
  margin-top: 779px;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


//////////////////////////////////////////////////////////////////////////

.ribbon-section {
  margin-top: 50px;
  

  .row {
    display: flex; /* Mostrar las columnas en una fila flexible */
    flex-wrap: wrap; /* Envolver las columnas si no caben en una sola fila */
    justify-content: center; /* Centrar las columnas horizontalmente */
    align-items: stretch;
    

    .ribbon-image {
      flex: 1; /* Cambio: permite que las columnas ocupen el espacio disponible */
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #885dcf;
      margin: 10px;
      max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */


        img{
        max-width: 266px;
        max-height: 266px;
        object-fit: contain;
      }
    }
  }
}

/*********************Footer*************************/
/*********Palabras en el top del footer******************/

.custom-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px; /* Espacio entre elementos */
}

.custom-footer-links a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  margin-top: 30px;
}

.custom-footer-links a:hover {
  color: #ffcc00; /* Cambia a tu color deseado en hover */
}

/*********Social Icons******************/

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px; /* Espacio entre íconos */
  margin-top: 31px;
}

.social-icon {
  max-width: 40px; /* Ajusta el valor según tu preferencia */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 5px;
  width: 30px;
}

.custom-footer {
  text-align: center;
  color: white;
  font-family:$font-family; 
}


footer {
  background-color: $secondary-color;
}



/***************Cookies*********************/
.cookie-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cookie-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

