@charset "UTF-8";
/********* IMPORTING ************/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap");
/**** VARIABLE DEFINITION *****/
/*********** TYPOGRAPHY ***************/
/********* TYPOGRAPHY SIZES *************/
.small {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.medium {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: #fff2f2;
}

.large {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: #ffffff;
}

body {
  font-family: "Outfit", sans-serif;
}

header {
  background-color: #2e075d;
  font-family: "Outfit", sans-serif;
  position: sticky;
  top: 0;
  transition: transform 0.3s ease-in-out;
  opacity: 1;
}

/******Efect on the header*******/
.header.hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/********************************/
.container-fluid {
  max-width: 100%;
  background-color: #2e075d;
}

.nav-link-custom {
  color: #ffffff;
  font-size: 24px;
  margin: 20px;
  transition: color 0.5s;
}

.navbar-nav .nav-item {
  margin: 0 100px;
}

.nav-item.nav-link {
  text-decoration: none;
}

.nav-link-custom:hover {
  color: #97db29;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin: 0 auto;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1616px;
}

/*************** container que disapear *****************/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.background-image {
  background-image: url("images/white-noise.jpg");
  background-size: cover;
  background-position: bottom center;
  padding-top: 50%;
  position: relative;
  max-width: 100%;
}

/*************** background About***********************/
.background-image-about {
  background-image: url("images/group.avif");
  background-size: cover;
  background-position: bottom center;
  padding-top: 50%;
  max-width: 100%;
}

.overlay-container {
  background-color: rgba(66, 31, 129, 0.5);
  color: #ffffff;
  padding: 60px;
  margin-top: 779px;
  animation: fadeIn 5s;
}

.ribbon-section {
  margin-top: 50px;
}
.ribbon-section .row {
  display: flex; /* Mostrar las columnas en una fila flexible */
  flex-wrap: wrap; /* Envolver las columnas si no caben en una sola fila */
  justify-content: center; /* Centrar las columnas horizontalmente */
  align-items: stretch;
}
.ribbon-section .row .ribbon-image {
  flex: 1; /* Cambio: permite que las columnas ocupen el espacio disponible */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #885dcf;
  margin: 10px;
  max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
}
.ribbon-section .row .ribbon-image img {
  max-width: 266px;
  max-height: 266px;
  object-fit: contain;
}

/*********************Footer*************************/
/*********Palabras en el top del footer******************/
.custom-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px; /* Espacio entre elementos */
}

.custom-footer-links a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  margin-top: 30px;
}

.custom-footer-links a:hover {
  color: #ffcc00; /* Cambia a tu color deseado en hover */
}

/*********Social Icons******************/
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px; /* Espacio entre íconos */
  margin-top: 31px;
}

.social-icon {
  max-width: 40px; /* Ajusta el valor según tu preferencia */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 5px;
  width: 30px;
}

.custom-footer {
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
}

footer {
  background-color: #b784fc;
}

/***************Cookies*********************/
.cookie-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cookie-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=styles.css.map */
